
/* NOTICES, ERRORS, & INFO MESSAGES */
.notice,.info,.errors,.tip,.hint{padding:14px 40px 14px 40px;margin-bottom:6px;line-height:150%;}
.notice h2,.warning h2,.errors h2,.tip h2,.hint h2,.dialog h2{font-size:120%;font-weight:bold;margin:0}
.tip h2{color:#B05800}
.notice h2,.hint h2,.dialog h2{color:#630}
.dialog h2{width:100%;border-bottom:1px solid #c90;margin-bottom:4px;padding-bottom:2px}
.errors,.errors h2,.errors li{color:#c00}
.notice,.hint{border:1px solid #c90;background:#ffe url('/images/icon_med_notice.gif') no-repeat 10px 10px;color:#000}
.hint{background-image:url('/images/icon_light.gif');background-position:6px 10px}
.dialog{border:1px solid #c90;background-color:#ffe;color:#000;padding:4px}
.tip{border:1px solid #090;background:#EEF9EB url('/images/icon_light.gif') no-repeat 6px 10px;color:#000}
.info{border:1px solid #039;background:#EAF6FF url('/images/icon-info-large.gif') no-repeat 10px 10px;color:#000}
.errors{border:1px solid #c66;background:#fee url("/images/icon-error-large.gif") no-repeat 10px 10px;color:#900}
.errors { width: 533px; }
.errors .buttonbar{border-color:#c66;margin-bottom:0;padding-bottom:0}
.info .buttonbar{border-color:#039;margin-bottom:0;padding-bottom:0}
.notice .buttonbar,.hint .buttonbar{border-color:#c90;margin-bottom:0;padding-bottom:0}
.notice ol,.notice ul,.errors ol,.errors ul,.info ol,.info ul,.tip ol,.tip ul,.hint ol,.hint li{padding-left:2em;margin-left:0em}
.notice li,.errors li,.info li,.tip li,.hint li{padding-right:2em}
.notice p,.errors p,.info p,.tip p,.hint p,.notice ol,.errors ol,.info ol,.tip ol,.hint ol,.notice ul,.errors ul,.info ul,.tip ul,.hint ul{margin:.5em 0}
.errors ul,.notice ul,.info ul{margin-bottom:6px;margin-top:12px;line-height:normal}
.errors ul,.errors li,.notice ul,.notice li,.info ul,.info li{padding-left:0;margin-left:13px;line-height:normal;list-style-type:square}
/* CALENDAR */
.smallcal{margin-bottom:5px}
.caldate, .caldateToday, .caldateEvent{text-decoration:none;white-space:nowrap;color:black}
.ScheduleEntry{font-weight:normal;text-align:center}
.ScheduleEntryLarge{font-family:Verdana, Geneva, Sans-serif;font-size:12px;font-weight:normal;text-align:left;padding-left:12px}
.event_draft{font-style:italic;color:#AAA; text-decoration:none}
.event_pending{color:#000;font-style:italic;text-decoration:none}
.event_approved{color:#000;text-decoration:none}
.event_final{color:#000;text-decoration:none}
/* HIERPICKLIST */
.hp_selection{border:1px solid #7f9db9;background-color:#fff;height:20px;font-family:Arial,Helvetica,sans-serif;cursor:pointer;padding-left:3px}
.hp_selection div{white-space:nowrap;font-size:11px}
.hp_menu{border:1px solid #333;background-color:#DAE2EB;position:absolute;visibility:hidden;z-index:100;font-family:Arial,Helvetica,sans-serif;font-size:11px}
.hp_menu div{padding:2px 0px 0px 2px;margin:0px;height:20px;white-space:nowrap;position:relative;z-index:200;background-color:transparent;border-bottom:1px solid #aaa;cursor:pointer}
.hp_menu span{float:left;position:relative}
.hp_menu img{float:right}
.hp_edit{font-family:Arial,Helvetica,sans-serif;font-size:11px}
.hp_item{background-color:#DAE2EB;padding:2px;margin:1px;height:22px;width:300px;white-space:nowrap;border:1px solid #ccc;cursor:pointer;font-size:11px;vertical-align:middle}
.hp_icons{background-color:#DAE2EB;border:1px solid #ccc;padding:1px;margin:0px;white-space:nowrap;vertical-align:middle}
.hp_pick_icon{border:1px solid #999;padding:0px;margin:0px}
.hp_scroll{position:relative;border:1px solid #ddd;overflow:hidden;float:left;padding:0px !important;margin:0px;background:#efefef !important}
.hp_scroll img{position:absolute;left:0px !important;width:15px;height:16px}
.hp_scroll_cont{position:relative;top:16px;border:none !important;overflow:hidden;padding:0px !important}
.hp_scroll_cont div{padding:0px !important;position:absolute;background:transparent url("/images/hp/scroll.png") repeat-y;border:none !important}
.hp_ud{background-color:#DAE2EB;border:1px solid #ccc;padding:1px;margin:0px}
/* APPLY BROWSER DEFAULTS */
.btn_generic_ie5,.btn_submit_ie5,.btn_reset_ie5,.btn_save_ie5,.btn_spellcheck_ie5,.btn_cancel_ie5,.btn_search_ie5,.btn_go_ie5,.btn_password_ie5,.btn_back_ie5,.btn_add_ie5,.btn_ffwd_ie5{padding:3px 0px 1px 1px !important}
.btn_generic_ie5_5up,.btn_submit_ie5_5up,.btn_reset_ie5_5up,.btn_save_ie5_5up,.btn_spellcheck_ie5_5up,.btn_cancel_ie5_5up,.btn_search_ie5_5up,.btn_go_ie5_5up,.btn_password_ie5_5up,.btn_back_ie5_5up,.btn_add_ie5_5up,.btn_ffwd_ie5_5up{padding:0px 4px !important;width:auto;overflow:visible !important;background-position:0% 53% !important;height:21px;margin:0px}
.btn_generic_nav6up,.btn_submit_nav6up,.btn_reset_nav6up,.btn_save_nav6up,.btn_spellcheck_nav6up,.btn_cancel_nav6up,.btn_search_nav6up,.btn_go_nav6up,.btn_password_nav6up,.btn_back_nav6up,.btn_add_nav6up,.btn_ffwd_nav6up{margin:0px 1px;vertical-align:top;height:19px;padding:0px 5px 2px 4px !important}
/* Scrollable checkbox */
.scrollable_checkbox{border:1px solid #cccccc;background-color:white;padding:2px 0px 2px 0px;clear:both}
.scrollable_checkbox div{border-bottom:1px solid #eeeeee;margin:1px}
.scrollable_checkbox label{width:90%}
.scrollable_toolbox{background-color:#eeeeee;border-bottom:1px solid #7f9db9;clear:both}
.scrollable_toolbox input{border:none;margin:4px 0px 3px 2px;float:left}
.scrollable_status{background-color:#eeeeee;border-top:1px solid #7f9db9;padding:1px 1px 1px 3px;font-size:10px;color:#777777}
.scrollable_status a{text-decoration:none;color:#777777}
.scrollable_container{border:1px solid #7f9db9;border-top:none}
.scrollable_selectall{background:url("/images/selectall.gif") no-repeat;width:9px;height:9px}
.scrollable_clearall{background:url("/images/clearall.gif") no-repeat;width:9px;height:9px}
.scrollable_finder{border:1px solid #99c;padding:0px;margin:2px 1px 1px 0px !important;width:210px;cursor:default;white-space:nowrap;height:16px;float:right}
.scrollable_finder input{border:none;width:169px;background:transparent;margin:0px !important;font-size:10px}
.scrollable_finder div{cursor:pointer;float:left;margin:1px}
.thread_spacer{background:transparent url("/images/thread_spacer.gif") no-repeat 0 50%;padding-left:20px;padding-top:1px}
.status_completion{text-align:right;width:65%}
.status_incoming{background:transparent url("/images/icn16_inbox_incoming.gif") no-repeat 0 0;padding-left:19px;min-height:16px;height:auto !important;height:16px}
.status_incoming_phone{background:transparent url("/images/icon_nav_phone.gif") no-repeat 0 0;padding-left:19px;min-height:16px;height:auto !important;height:16px}
.status_outgoing{background:transparent url("/images/icn16_inbox_outgoing.gif") no-repeat 0 0;padding-left:19px;min-height:16px;height:auto !important;height:16px}
tr.rowstatus_constituent td{background:#FBF8DC}
tr.rowstatus_organization td{background:#ffe}
tr.rowstatus_final,tr.rowstatus_approved td,tr.rowstatus_processed td,tr.rowstatus_queuedforsending td,tr.rowstatus_queuedforprinting td,tr.rowstatus_duethisweek td{background:#efe}
.status_final,.status_approved,.status_open,.status_queued,.status_queuedforsending,.status_queuedforprinting,.status_replysent,.status_duethisweek{background:transparent url("/images/icon_bulb_green.gif") no-repeat 0 50%;padding-left:10px}
tr.rowstatus_revisionsneeded td,tr.rowstatus_rejected td,tr.rowstatus_overdue td{background:#fee}
.status_revisionsneeded,.status_rejected,.status_overdue{background:transparent url("/images/icon_bulb_red.gif") no-repeat 0 50%;padding-left:10px}
tr.rowstatus_sent td,tr.rowstatus_printed td,tr.rowstatus_closed td{background:#eef}
.status_sent,.status_printed,.status_replyinprogress,.status_replystarted,.status_complete,.status_closed{background:transparent url("/images/icon_bulb_blue.gif") no-repeat 0 50%;padding-left:10px}
tr.rowstatus_replyneeded td,tr.rowstatus_underreview td,tr.rowstatus_pendingapproval td,tr.rowstatus_awaitingprocess td,tr.rowstatus_draft td,tr.rowstatus_duetoday td{background:#ffe}
.status_processed,.status_underreview,.status_awaitingprocess,.status_unprocessed,.status_replyneeded,.status_pendingapproval,.status_pending,.status_draft,.status_mass,.status_duetoday{background:transparent url("/images/icon_bulb_yellow.gif") no-repeat 0 50%;padding-left:10px}
.const_org{background:transparent url("/images/icon_16_institution.gif") no-repeat 0 50%;padding-left:20px}
.const_group{background:transparent url("/images/icon_nav_user.gif") no-repeat 0 50%;padding-left:20px}
.const_ind{background:transparent url("/images/icon_nav_contact.gif") no-repeat 0 50%;padding-left:20px}
/* YUI Panel CSS */
#placeholder{overflow:hidden}
.yui-tt .bd{position:relative;top:-8px;left:0;z-index:1;color:#000;padding:2px 5px;border-color:#D4C237 #A6982B #A6982B #A6982B;border-width:1px;border-style:solid;background-color:#FFEEAA}
.yui-tt.show-scrollbars .bd{overflow:auto}
.yui-tt-shadow{top:-6px;right:-3px;left:-3px;bottom:5px;background-color:#000}
.yui-tt-shadow-visible{opacity:.12;*filter:alpha(opacity=12)}
/* POPWIN */
.popwin { position: absolute; z-index: 99}
.popwin td {font-family:verdana;font-size:10px;}
.popwin h1 {font-family:verdana;font-size:14px;}
.popwin .content {font-family:verdana;font-size:10px;color:#666;}
.popwin li {list-style-type:square;}
.popwin a, .popwin a:visited {color:#FF0000;text-decoration:none;font-weight:bold;}
.popwin .title {font-weight: bold; color: #000;}
.popwin_body {
  font: normal 11px Verdana, Geneva, Sans-serif;
}
.popwin_fg {
  background: #fff;

}
.popwin_fg table, .popwin_fg td, .popwin_fg tr {
  border-collapse: collapse !important;
  border: none !important;
  background: transparent none  !important;
}
.popwin_cg {
  background: #DAE2EB url("/images/module_icecold/bg_modtitle_lightblue.jpg") repeat-y top left;
  border-bottom: 1px solid #999;
}
.popwin_cg .popwin_cg {
  border: none;
}
.popwin_bg {
  background: #336699;
}
.popwin_caption, .popwin_close {
  font-weight: bold;
  font-size: 11px;
}

.import_body {
  margin:10;
  padding:0;
  background:#FFFFFF url(/images/titlebar_bg.jpg) repeat-x scroll 0px -10px;
}

