
#navigation_tree_white 
{
    padding: 11px 0px 0px 0px;
    background: transparent url(../images/backgrounds/subnav_white_top.png) no-repeat 0px 0px;
}

#navigation_tree_white div.title
{
    background: transparent url(../images/backgrounds/subnav_white_bg.png) repeat-y 0px 0px;
    padding: 4px 0px 5px 32px;
}
#navigation_tree_white div.title h1,
#navigation_tree_white div.title h2,
#navigation_tree_white div.title h3,
#navigation_tree_white div.title h4,
#navigation_tree_white div.title a
{
    color:#4F4F4F;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}
#navigation_tree_white div.title a:hover 
{
    color: #bf0c0c;
}

#navigation_tree_white div.list_body
{
    padding: 0px 0px 11px 0px;
    margin-bottom: 24px;
    background: transparent url(../images/backgrounds/subnav_white_bottom.png) no-repeat 0px bottom;
}
#navigation_tree_white div.list_body dl 
{
    background: transparent url(../images/backgrounds/subnav_white_bg.png) repeat-y 0px 0px;
    margin: 0;
    padding: 6px 0px 9px 0px;
}
#navigation_tree_white div.list_body dl dt 
{
    padding: 3px 0px 3px 23px;
}
#navigation_tree_white div.divide
{
    padding: 5px 0px;
    margin: 0px;
    background: transparent url(../images/backgrounds/subnav_white_divide.png) no-repeat 0px 0px;
}

#navigation_tree_white div.list_body dl dt a
{
    
    padding: 4px 0px 4px 10px;
    text-decoration: none;
    color:#838383;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:12pt;
}

#navigation_tree_white div.list_body dl dt.selected a,
#navigation_tree_white div.list_body dl dt a:hover
{
    color: #bf0c0c;
}
#navigation_tree_white div.list_body dl dt.selected a 
{
    background: transparent url(../images/bullets/red_gt.gif) no-repeat left center;
}

#navigation_tree_white div.list_body dt
{
    padding: 3px 0px 3px 23px;
    background: transparent url(../images/backgrounds/subnav_white_bg.png) repeat-y 0px 0px;
}

#navigation_tree_white div.list_body dt a
{
    font-size: 9pt;
    padding: 4px 0px 4px 10px;
    text-decoration: none;
    color: #454040;
}

#navigation_tree_white div.list_body dt.selected a 
{
    background: transparent url(../images/bullets/red_gt.gif) no-repeat left center;
    color: #bf0c0c;
}

#navigation_tree_white div.list_body dl 
{
    /* IE */
    *display: none;
}

#navigation_tree_white span.child 
{
    padding-left: 20px;
}